{% extends 'base.html.twig' %}

{% block title %}Mon mot de passe
{% endblock %}
{% set banner_bis = banner_bis | default({}) | merge({
    "title"       : "Mon mot de passe",
    "desc"       : "",
}) %}
{% block banner_bis  %}{% endblock %}

{% block content %}

	<div class="container mt-5 mb-5">
		<a href="{{ path('account') }}">
			<i class="fas fa-arrow-circle-left"></i>
			Retour</a>
		<div class="row no-gutters">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 col-md-12 col-sm-12 pr-lg-0 whitebox wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
				<div class="widget logincontainer register-account">
					<h3 class="bottom35 text-center text-md-left">Modification du mot de passe
					</h3>
					{% if notificationSuccess %}
						<div class="alert alert-success">{{ notificationSuccess }}</div>
					{% endif %}
					{% if notificationError %}
						<div class="alert alert-danger">{{ notificationError }}</div>
					{% endif %}
					{{ form(form) }}

					</div>
				</div>
				<div class="col-lg-3"></div>


			</div>
		</div>
	{% endblock %}
