<!--START BANNER SECTION-->
<div class="banner-section parallax-slide">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-right">
				<div class="banner-content-wrapper text-white">
					<span class="text-white"></span>
					<h1 class="text-white">Disclaimer</h1>
					<p class="text-white">shop.mydev.fr est une démo,
						<br/>en aucun cas les produits présentés vous seront livrés.</p>
					<button type="button" class="btn white-btn-with-border" data-toggle="modal" data-target="#readmore">
						READ MORE
						<br/>
						<small>(DEMO)</small>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--END BANNER SECTION-->
