{% block banner_bis %}
	<!--Slider Start-->
	<div class="paralax-section-slide-data row align-items-center" style="background-image:url('https://cdn.pixabay.com/photo/2017/02/01/18/32/pocket-watch-2031021_960_720.jpg')">
		<div class="col-12 text-right">
			<div class="row align-items-center">
				<div class="col-12 col-lg-7"></div>
				<div class="col-12 col-lg-5 text-left p-5 text-white">
					<h1>{{ banner_bis.title }}</h1>
					<hr>
					<p class="">{{ banner_bis.desc }}</p>
				</div>
			</div>
		</div>
	</div>
	<!--Slider End-->
{% endblock %}
