.slider {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .slider video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .slider .container {
    position: relative;
    z-index: 2;
  }
  
  .slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    .slider {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    .slider video {
      display: none;
    }
  }

  .bold{
      font-weight: bold;
  }

#logo a,#logo a .bold{
    color :black;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

  #logo a:hover{
      color:#BF953F;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
  }

  #logo a:hover .bold{
    color:#5d4a1f;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.cbp{
  height: 100%;
}

.owl-nav{
  height:0;
}


.cbp:after{
  display: none;
}

.cbp-filter-item{
  min-width: 150px;
  text-align: center;
}

.error{
  color:rgb(143, 17, 17);
  border :1px solid rgb(143, 17, 17);
  padding:10px;
}

.banner-bis h2{
  padding-top: 150px;
  text-align: right;
  padding-right: 10%;
  color: white;
  font-size: 3rem;;
}

.col-form-label{
  font-weight: bold;
}

.jumbotron-custom{
  padding-bottom: 10px;
  border-bottom: 1px solid #5d4a1f;
}

.custom-control{
  padding: 0;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.form-check-input {
    position: relative;
    margin:0;
    margin-left: 0;
    margin-right:5px;

}

/* .form-check{
  width: 100%;
}*/
.form-check{
  font-size: .8rem!important;
  border: 1px dotted #5d4a1f;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
} 

.form-check:hover{

  border: solid 1px #FFFFFF;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #BF953F), color-stop(93%, #5d4a1f));
  background: -o-linear-gradient(left, #BF953F -50%, #5d4a1f 93%);
  background: linear-gradient(to right, #BF953F -50%, #5d4a1f 93%);
  border-radius: 0;
  position: relative;
  z-index: 2;
  cursor: pointer!important;
} 

/* .btn-group input{
  display: none;
} */

